<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://th.bing.com/th/id/R.4a12ece75a938cb8c0a90bd6d6cfccb1?rik=V3RkZZdbSHXjqg&riu=http%3a%2f%2fclipart-library.com%2fimages_k%2fpng-transparent-images%2fpng-transparent-images-19.png&ehk=IjEoTXu6aoKXUZqOthLhKyJDqtsHwJg2y9t21ZqE4I0%3d&risl=&pid=ImgRaw&r=0"
    />
    <title>Sign up</title>
    <link rel="stylesheet" href="../static/css/signin.css" />
  </head>
  <body>
    <div class="container">
      <div class="login_content">
        <div class="login_heading">
          <a href="index.html">
            <img
              class="logo"
              src="https://th.bing.com/th/id/R.4a12ece75a938cb8c0a90bd6d6cfccb1?rik=V3RkZZdbSHXjqg&riu=http%3a%2f%2fclipart-library.com%2fimages_k%2fpng-transparent-images%2fpng-transparent-images-19.png&ehk=IjEoTXu6aoKXUZqOthLhKyJDqtsHwJg2y9t21ZqE4I0%3d&risl=&pid=ImgRaw&r=0"
            />
          </a>
          <h1 class="login_title">Đăng ký vào TF</h1>
        </div>
        <div class="login_body">
          <form action="{{ url_for('Load_sign_up_page') }}" method="POST">
            <div>
              <label for="username">Tên người dùng:</label>
              <input
                type="text"
                id="username"
                name="name"
                class="username"
                placeholder="Nhập tên tài khoản..."
                required
              />
            </div>
            <div>
              <label for="password">Mật khẩu:</label>
              <input
                type="password"
                id="password"
                name="pass"
                class="password"
                placeholder="Nhập mật khẩu..."
                required
              />
            </div>
            <div>
              <label for="email">Email:</label>
              <input
                type="email"
                id="email"
                name="email"
                class="email"
                placeholder="Nhập email..."
                required
              />
            </div>
            <div>
              <button type="submit" class="login_button">Đăng ký</button>
            </div>
          </form>
          <div>
            <p class="donthaveacc">
              Bạn đã có tài khoản?
              <a href="{{ url_for('Signin') }}" class="as">Đăng nhập</a>
            </p>
          </div>
        </div>
        <div class="login_accecptTerm">
          Việc bạn tiếp tục sử dụng trang web này đồng nghĩa bạn đồng ý với
          <a href="#" class="ad">Điều khoản sử dụng</a>
          của chúng tôi.
        </div>
      </div>
    </div>
  </body>
</html>
